<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>


<%= display(@user, "posts") %>

<%= display(@user, "comments") %>


<% if @favorite_posts.any? %>
  <h2>You have favorited the following posts:</h2>
  <% @favorite_posts.each do |fav_post| %>
    <%= render ({partial: "users/favorite_posts", locals: {post: fav_post}})%>
  <% end %>
<% end %>
